{% extends 'base.html.twig' %}

{% block body %}

<section class="row">
    <h1 class="title">Welcome to DevBlog!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores recusandae sit ea blanditiis, hic pariatur autem neque soluta quidem explicabo, molestiae ipsa expedita accusamus quaerat facere repellat illo maiores quo. Deleniti ad facilis soluta asperiores consequuntur, molestias nostrum esse odio, eveniet eum dolore libero, veritatis officiis earum. Facere, nostrum iure.</p>
</section>
<section class="row">
<p><small>We are using the controller: {{ controller_name }}</small></p>

{# commentaire #}

</section>

{% endblock %}
